
obj/
bin/

err.txt
move.txt

CMakeCache.txt
CMakeFiles
cmake_install.cmake
error.txt
Makefile
CTestTestfile.cmake
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
Testing/

build_clenshaw_curtis
build_double_exp_rules

assoc_laguerre_test
assoc_legendre_test
chebyshev_t_test
chebyshev_u_test
chebyshev_v_test
chebyshev_w_test
hermite_test
laguerre_test
legendre_test
gegenbauer_test
jacobi_test
radpoly_test
sph_legendre_test
zernike_test

test_fft
test_gauss_kronrod_rule
test_gauss_hermite
test_gauss_laguerre
test_quadrature
test_midpoint_integral
test_trapezoid_integral
test_double_exp_integrate
test_phase_iterator
test_mapper

